@page
@{
}

<style>

    body {
        background-image: url("https://northernvirginiamag.com/wp-content/uploads/2020/08/movie-popcorn.jpg");
    }
</style>


<h1 style="color:white">Disfrute su pelicula</h1>

<h3 style="color:white">Se ha enviado a su correo la informacion para que pueda terminar su compra</h3>

