@{
    ViewData["Title"] = "Home Page";
}

@*@section Styles {
    <link href="@Url.Content("~/Styles/view_specific_style.css")" rel="stylesheet" type="text/css" />
}*@

@*@section styles{
    <link rel="Stylesheet" href="@Href("~/Content/MyStyles.css")" />
}*@


<style>
    body {
        background-color: #C8E0E8;
        
    }
</style>

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
