@{
    ViewData["Title"] = "Privacy Policy";
}


<style>
    /*
        body {
        background-color: #000000;
        background-image: url('https://storage.googleapis.com/nextivawebsites-wordpressfiles-voip/var/www/virtual/nextiva.com/voip/2019/09/future-of-customer-service-feature-image.jpg ');
        background-position: center;
    }
   */
</style>

<h1>Rentflix.</h1>

<h3>Brindamos contenido online sin limites de una tienda tradicional</h3>
<p>No dudes en ponerte en contacto con nosotros ante cualquier duda o inconveniente</p>

<p>Datos de contacto:</p>
<p>
    Escribanos: info@mail.com
</p>
<p>
    Llamenos: +1234 56789
</p>

<img src='https://storage.googleapis.com/nextivawebsites-wordpressfiles-voip/var/www/virtual/nextiva.com/voip/2019/09/future-of-customer-service-feature-image.jpg '
     width="700"
     height="500">